<div class="row" [class]="fontFamily">
    <div class="col-12">
        <div class="row top-menu">
            <div class="col-md-4 col-6">
                <select name="font" [(ngModel)]="fontFamily" class="form-control">
                    <option selected disabled value="default">Font Family</option>
                    <option value="serif">Serif</option>
                    <option value="sans-serif">Sans-Serif</option>
                    <option value="monospace">Monospace</option>
                </select>
            </div>
            <div class="col-1" [class.selected-format]="formatVal == 'b' " (click)="checkFormatVal('b')"><b>B</b></div>
            <div class="col-1" [class.selected-format]="formatVal == 'i' " (click)="checkFormatVal('i')"><i>I</i></div>
        </div>
    </div>
   
    
    <div class="col-12 date">{{note.date}}</div>
    <br>
    
    <div class="col-12">
        <input type="text" placeholder="Note Title" class="form-control" [class]="formatVal" [(ngModel)] = "note.title">
    </div>
    <div class="col-12">
        <textarea  class="form-control"  placeholder="Write here..." id="content" [class]="formatVal" [(ngModel)]="note.content"></textarea>
        <br>
        <button class="btn" (click)="updateNote()"> Save</button>
    </div>
    
</div>
