<div class="container-fluid">
    <div class="row">
        <!-- notes list -->
        <div class="col-md-2 col-12" *ngIf="showParent">
            <div class="row">
               
                <div class="col-2 list-top">
                  
                      <i id="nightIcon"(click)="changeTheme()" class="bi bi-moon-stars"></i>
                      <i id="dayIcon"(click)="changeTheme()" class="bi bi-sun"></i>
                    
                </div>
                <div class="col-6 heading">NOTES</div>
                <div class="col-2 list-top">
                    <i class="bi bi-plus-circle" (click)="addNote()"></i>
                </div>
                <div class="col-2 list-top">
                    <i class="bi bi-trash" (click)="deleteNote()"></i>
                </div>
                <hr>
                <div class="col-12" *ngFor="let n of NotesList">
                    <div class="wrapper"[class.selected]="selectedNote == n.id?true:false" (click)="getNoteContent(n.id)">
                        <span >{{n.data.title}}</span>
                        <br>
                        <span class="date">{{n.data.date|date:'mediumDate'}}</span>
                    </div>
                    
                    <hr>
                </div>
            </div>
            
        </div>
        
        
        <!-- notes content -->
        <div class="col-md-10 col-12" *ngIf="showChild">
            <app-notes-content  (callParent)="initialiseVar($event)"></app-notes-content>
        </div>
        <div class="alert alert-success" id="alertMsg">
            <strong>Success! Your note has been saved</strong> .
        </div>
    </div>
</div>
