
.container-fluid{
    min-height: 100vh;
    
    // background-color: var(--theme);
    .row{
        .col-md-2{
            // border-right: 1px solid grey;
            .heading{
                padding: 10px;
                text-align: center;
                font-weight: 600;
                
            }
            .list-top{
                text-align: right;
                padding: 10px;
            }
            .date{
                font-size: 13px;
            }
        }
        .wrapper{
            padding: 10px;
            padding-left: 30px;
            border-radius: 5px;
        }
        
    }
}

.alert{
    display:none;
}